.addbox{
    margin-top: 100px;
   background-color: black;
    background: transparent;
    width: 250px;
    margin-left: 400px;
    padding: 0px;
 }
  input[type="text"],
 input[type="number"]
 {
  padding: 0px;
   height: 25px;
   width: 150px;
   background-color: transparent;
   color: white;
 }
 label{
font-family: 'Times New Roman', Times, serif;
font-style: inherit;
     text-align: center;
 }
 textarea{
     width: 210px;
     height: 50px;
     background-color: transparent;
     color: white;
 }
 textarea:focus {
    background: transparent;
    color: blue;
}
select:focus{
    background: transparent;
    color: blue;
}
select{
    background-color: transparent;
  color:white;
}
  