.image{
    /* background-image: url('../assets/working-macbook-computer-keyboard-34577.jpg'); */
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
  url('/../assets/blank-business-composition-computer-373076.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
   overflow: auto;
   
  }
   
   
   .navbar-brand {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: -20px;
  }
   .navbar-nav {
    margin-left: 50px;
   
  }
  .nav-item {
     padding-left: 20px;
     font-size: 15px;
     margin-bottom: -15px;
     margin-left: 10px;
    
  }
  
   
   
  .sidenav a {
      margin-top: 15px;
      padding-top: 10px;
      text-decoration: none;
      font-size: 20px;
      color: rgb(243, 240, 240);
      display: inline-block;
  }
  .sidenav {
      height: 100%;
      width: 170px;
      position: fixed;
    z-index: 1;
      top: 65px;
      left: 0px;
      background-color:black;
      overflow-x: hidden;
    padding-top: 20px;
   position: fixed;
  }
  .collapse{
    text-align: center;
  }
  .glyphicon {
    size: 100px;
    color:white;
  }
  .navbar-right li{
    margin-left: 400px;
  }
  
    
    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
   
    
  