
<div class="image">
    <!-- <img src="assets/working-macbook-computer-keyboard-34577.jpg" height="50px" width="50px" alt="logoEmbajador"> -->
  <nav class="navbar navbar-expand-lg l fixed-top bg-dark navbar-dark ">
   
    <a class="navbar-brand" >eMart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/buyer']">Home </a>
        </li>
        <li class="nav-item active">
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['view-cart']">ViewCart</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['search']">SearchItem</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['purchase-history']">RecentOrders</a>
          </li> 
      </ul>
      <ul class=" navbar-nav navbar-right" >
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class='fa fa-user-circle' style='font-size:30px'></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['view-profile-buyer']">ViewProfile</a>
            <a class="dropdown-item" (click)="logout()" >Logout</a>
            
          </div>
        </li>
        <!-- <li class="nav-item active">
         <a class="nav-link" [routerLink]="['view-profile-buyer']"><i class='fa fa-user-circle' style='font-size:30px'></i>ViewProfile</a>
        </li> -->
      </ul>
    </div>
 
  </nav>
  
  <router-outlet></router-outlet>
 
  </div>
  <div class="sidenav">
 
      <!-- <a href=#><span class="glyphicon glyphicon-eye-open"> </span>  ViewCart</a> -->
      <a [routerLink]="['search']" routerLinkActive="router-link-active" > SearchItem</a>
      <a [routerLink]="['view-cart']" routerLinkActive="router-link-active" >View Cart </a>
      <a [routerLink]="['purchase-history']" routerLinkActive="router-link-active" >RecentOrders</a>
      <a [routerLink]="['view-profile-buyer']" routerLinkActive="router-link-active" > ViewProfile</a>

  </div>
 
  