
<div class="image">
 
    <!-- <img src="assets/working-macbook-computer-keyboard-34577.jpg" height="50px" width="50px" alt="logoEmbajador"> -->
  <nav class="navbar navbar-expand-lg  bg-dark navbar-dark navbar-fixed-top">
    
    <a class="navbar-brand" >eMart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/buyer']">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['buy-product']">BuyItem</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['view-cart']">ViewCart</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['search']">SearchItem</a>
          </li> 
      </ul>
      <ul class=" navbar-nav navbar-right" >
        <li class="nav-item active">
         <a class="nav-link" [routerLink]="['view-profile-buyer']"><span class="glyphicon glyphicon-user"></span>ViewProfile</a>
        </li>
        
      </ul>
    </div>
  
  </nav>
  
  
  <router-outlet></router-outlet>
  </div>
  <div class="sidenav">
      <a [routerLink]="['add-items']" routerLinkActive="router-link-active" > Additems</a>
      <a [routerLink]="['view-items']" routerLinkActive="router-link-active" >ViewItems </a>
      <!-- <a href=#><span class="glyphicon glyphicon-eye-open"> </span>  ViewCart</a> -->
      <a [routerLink]="['view-reports']" routerLinkActive="router-link-active" > ViewReports</a>
      <a [routerLink]="['view-profile-seller']" routerLinkActive="router-link-active" > ViewProfile</a>
  
  </div>
   
  