<div class="addbox">
    <div class="container">
        <div [formGroup]="ItemForm" >
            <div class="row">
                <div class="col-6">
            <div class="form-group">
                <label>CategoryName</label>
                <select formControlName="categoryname" (click)="GetSubCategory()">
                    <option *ngFor="let item of category" [value]=item.categoryId>{{item.categoryName}}</option>
                </select>
                     
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>SubCategoryName</label>
                <select formControlName="subcategoryname" >
                    <option *ngFor="let item of subcategory" [value]=item.subCategoryId>{{item.subCategoryName}}</option>
                </select>
                     
              </div>
            </div>
            </div>
            <div class="row">
                <div class="col-4">
            <div class="form-group">   
               <label>ItemName</label>
                    <input type="text" formControlName="itemname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }" />
                    <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
                        <div *ngIf="f.itemname.errors.required">CategoryName is required</div>
                    </div>
                
                </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                       <label>Stock</label>
                       <input type="number" formControlName="stock" class="form-control">
                 </div>
                       </div>
                 <div class="col-4">
                 <div class="form-group">
                   <label>Price</label>
                   <input type="number" formControlName="price" class="form-control">
       
             </div>
             </div>
             </div>
             <div class="row">
                 <div class="col-12">
                     
             <div class="form-group a">
                <label>Description</label> 
                  <textarea formControlName="itemdescription" class="form-control"></textarea>
            </div>
            </div>
        </div>
        <div class="row b">
            <div class="col-12">
       <div class="form-group">
             <label>Remarks</label>
             <textarea formControlName="remarks" class="form-control"></textarea>
       </div>
       </div>
   </div>

   <input type="file" (change)="onFileUpload($event)" class="a" >
            <div class="text-center">
                <button class="btn btn-primary btn-md  mr-1" (click)="onSubmit()">ADD</button>  
                <button class="btn btn-primary btn-md  mr-1"  (click)="Reset()">Reset</button>
            </div>
       
       </div>
    </div>
</div>

