.search {
    margin-top: 100px;
    margin-left: 450px;
    position: fixed;
}

 .btn{
    border-radius: 10px;
}

.b{
    margin-top: 140px;
    margin-left: 300px;
}


/* view */
.gallery {
    width: 200px;
    border: 1px solid black;
    height: 290px;
    float: left;
    margin-left: 10px;
 }
 
 div.gallery:hover {
     border: 1px solid #777;
 }
 
 
 
 .view {
     margin-left: 30px;
   
 }
 .view h3 {
     margin-left: 150px;
     margin-top: 200px;
     color: black;
     font-weight: bold;
     font-style: italic;
 }
 p{
     margin-top: 0px;
     margin-left: 0px;
     text-align: center;
      font-weight: bold;
 }
 img {
    margin-left: 20px;
    margin-top: 20px;
}
.c {
    margin-left: 5px;
}