<div class="view ">
    <div class="table">
<div class="table-responsive">
            <tr >
                
                <th>Category Name</th>
				<th>Category Description</th>
				<th></th>
				<th></th>
            </tr>
            <tr *ngFor="let item of category" >
              <td>{{item.categoryName}}</td>
              <td>{{item.categoryDetails}}</td>
              <td><button class="btn btn-primary btn-sm mr-1" data-toggle="modal" data-target="#myModal" (click)="Search(item.categoryId)">Edit</button></td>
              <td><button class="btn btn-danger btn-sm mr-1" (click)="DeleteCategory(item.categoryId)">Delete</button></td>
            </tr>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Here</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="CategoryForm">
                       
                        <div class="form-group">
                           <label>CategoryName</label>
                                <input type="text" formControlName="categoryname" class="form-control"  />
                                
                         </div>
                        <div class="form-group">
                              <label>Description</label>
                              <textarea formControlName="categorydetails" class="form-control"></textarea>
                        </div>
                        <div class="text-center">
                             
                            <button class="btn btn-primary btn-md mr-1" data-dismiss="modal" (click)="Save()">Save</button>
                        </div>
                   
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
             </div>
          </div>
        </div>
    </div>
</div>