<div class="image">
 
  <!-- <img src="assets/working-macbook-computer-keyboard-34577.jpg" height="50px" width="50px" alt="logoEmbajador"> -->
<nav class="navbar navbar-expand-lg l fixed-top bg-dark navbar-dark">
  
  <a class="navbar-brand" >eMart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/seller']">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['add-items']">AddItems</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['view-items']">ViewItems</a>
      </li>
      <!-- <li class="nav-item active">
          <a class="nav-link" [routerLink]="['view-reports']">ViewReports</a>
        </li>  -->
    </ul>
    
    <ul class=" navbar-nav navbar-right" >
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='fa fa-user-circle' style='font-size:30px'></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['view-profile-seller']">ViewProfile</a>
          <a class="dropdown-item" (click)="logout()" >Logout</a>
          
        </div>
      </li>
      
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>
</div>
<div class="sidenav">
  <div style="color:saddlebrown;font-style: italic;font-size:30px;"><i class='fa fa-user' style='font-size:36px'></i>Welcome {{name}}</div>
    <a [routerLink]="['add-items']" routerLinkActive="router-link-active" > Additems</a>
    <a [routerLink]="['view-items']" routerLinkActive="router-link-active" >ViewItems </a>
    <!-- <a href=#><span class="glyphicon glyphicon-eye-open"> </span>  ViewCart</a> -->
    <!-- <a [routerLink]="['view-reports']" routerLinkActive="router-link-active" > ViewReports</a> -->
</div>
 
