<div class="view">
    <div class="table">
        <div class="table-responsive">
            <tr>
                <th></th>
            <th>ItemName</th>
             <th>Noofitems</th>
             <th>PurchaseDate</th>
             <th>Price</th>
             <th>Total</th>
     </tr>
     <ng-container *ngFor="let purchase of purch"> 
        <ng-container *ngFor="let item of items">
       <tr *ngIf="purchase.itemId==item.itemId" >     
     <td><img src="..\assets\images\{{item.image}}" width="50px" height="50px"> </td>
      <td>{{item.itemName}}</td>
      <td>{{purchase.noOfItems}}</td>
      <td>{{purchase.transcationTime |date}}</td>
      <td>{{item.price |currency:"INR" }}</td>
      <td>{{item.price*purchase.noOfItems |currency:"INR"}}</td>
        </tr>
    </ng-container>
</ng-container>


        </div>
    </div>
</div>