<div class="image">
  
  <!-- <img src="assets/working-macbook-computer-keyboard-34577.jpg" height="50px" width="50px" alt="logoEmbajador"> -->
<nav class="navbar navbar-expand-lg  bg-dark navbar-dark navbar-fixed-top">
  <a class="navbar-brand" >eMart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/admin']">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['add-category']">AddCategory</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" [routerLink]="['add-subcategory']">AddSubCategory</a>
        </li> 
    </ul>
    <ul class=" navbar-nav navbar-right" >
      <li class="nav-item active">
        <button (click)="logout()">Logout</button>
      </li> 
      
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
</div>
<div class="sidenav">
    <a [routerLink]="['view-category']" routerLinkActive="router-link-active" > ViewCategory</a>
    <a [routerLink]="['view-subcategory']" routerLinkActive="router-link-active" >ViewSubCategory </a>
    <!-- <a href=#><span class="glyphicon glyphicon-eye-open"> </span>  ViewCart</a> -->
    <a [routerLink]="['block-unblock-seller']" routerLinkActive="router-link-active" > ViewSeller</a>
    <a [routerLink]="['block-unblock-buyer']" routerLinkActive="router-link-active" > ViewBuyer</a>

</div>
 
