<div class="image">
  <!-- <img src="assets/working-macbook-computer-keyboard-34577.jpg" height="50px" width="50px" alt="logoEmbajador"> -->
<nav class="navbar navbar-expand-lg  bg-dark navbar-dark navbar-fixed-top">
  <a class="navbar-brand" >eMart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['login']">Admin</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['login-buyer']">Buyer</a>
          <a class="dropdown-item" [routerLink]="['login-seller']" >Seller</a>
          
        </div>
      </li>
      
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Register
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['register-buyer']">Buyer</a>
          <a class="dropdown-item" [routerLink]="['register-seller']" >Seller</a>
          
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

</div>


