
<div class="view">
    
    <div class="container">
       <div class="table-responsive">
           <table class=" table">
               <tr>
                   
                   <th>SellerName</th>
                   <th>EmailId</th>
                   <th>Mobile</th>
                   <th>CompanyName</th>
                   <th>Website</th>
               </tr>
               <tr *ngFor="let item of seller">
                   
                    <td>{{item.sellername}}</td>
                    <td>{{item.emailId}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.companyname}}</td>
                    <td>{{item.website}}</td>
                    <td><button class="btn btn-danger btn-sm  mr-1">Block</button></td>
                    <td><button class="btn btn-primary  btn-sm  mr-1">UnBlock</button></td>
               </tr>
           </table>
       </div>
    </div>
    </div>