.addbox{
   margin-top: 100px;
   border-radius: 100px;

   width: 300px;
   margin-left: 400px;
  
}
 input[type="text"]{
  height: 25px;
  width: 150px;
  background: transparent;
  color: white;
}
label{
   font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
 textarea{
    width: 210px;
    height: 50px;
    color: white;
}
textarea{
  background: transparent;
  color: white;
}
textarea:focus{
  background: transparent;
  color: white;
}
 